.main {
    background-color: #222;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.data-key,
.date {
    font-weight: 500;
}
